.quote {
    cursor: pointer;
    position: relative;
    text-align: center;
    display: block;
    width: 400px;
    border: none;
    font-size: 12px;
    height: 7rem;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 0 25px rgb(0, 140, 255);
    border-radius: 10px;
    padding: 10px 20px;
}

.quote .ten {
    line-height: 52px;
}

.quote:hover .slidein {
    left: 0%;
}

.quote:hover .two {
    left: 0%;
    transition-delay: 1.5s;
}

.quote:hover .three {
    left: 0%;
    transition-delay: 3s;
}

.quote .slidein {
    background: #3398ff;
    left: -100%;
    z-index: 2;
}

.quote a {
    text-transform: uppercase;
    transition: left 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    /* background-image: url('../img/pogi.jpg'); */
    background: rgb(0, 140, 255);
    /* box-shadow: 0 0 25px rgb(0, 140, 255); */
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-position: center;

}

.slidein:nth-child(even) {
    /* background-image: url('../img/pogi2.jpg') !important; */
    /* background-position: center; */
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);

}

.slidein:nth-child(odd) {
    /* background-image: url('../img/pogi3.jpg') !important; */
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-position: center; */
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}
